body {
  font-family: Arial, sans-serif;
  background-color: white; /* Dark background for better contrast */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Global Variables */
:root {
  font-size: 10px;
  --purple: #4f008c;
  --coral: #ff375e;
  --onyx:  #1d252d;;
  --silver: #8e9aa0;
  --moon-light: #a54ee1;
}

/* Submit Button */
.submit-button {
  width: fit-content;
  padding: 1rem 2rem;
  margin-top: 3rem;
 
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
 
  background-color: var(--coral);
  border: none;
  border-radius: 8px;
 
  cursor: pointer;
}
 
.submit-button:hover {
  filter: brightness(0.9);
}
/* Header with STC Logo */
.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* STC Logo */
.stc-logo-container {
  background-color: var(--onyx); /* Dark background for contrast */
  padding: 10px;
  border-radius: 8px; /* Soft edges */
  display: flex;
  align-items: center;
  justify-content: center;
}

.stc-logo {
  width: 120px; /* Adjust as needed */
  height: auto;
}

p {
  font-size: 1.6rem;
  text-align: center;
}

